@font-face {
    font-family: 'AktivGrotesk-Regular';
    src: url('AktivGrotesk_W_Rg.eot');
    src: url('AktivGrotesk_W_Rg.eot?#iefix') format('embedded-opentype'),
         url('AktivGrotesk_W_Rg.woff') format('woff'),
         url('AktivGrotesk_W_Rg.ttf') format('truetype'),
         url('AktivGrotesk_W_Rg.svg#AktivGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}