@font-face {
    font-family: 'AktivGrotesk-Bold';
    src: url('AktivGrotesk_W_Bd.eot');
    src: url('AktivGrotesk_W_Bd.eot?#iefix') format('embedded-opentype'),
         url('AktivGrotesk_W_Bd.woff') format('woff'),
         url('AktivGrotesk_W_Bd.ttf') format('truetype'),
         url('AktivGrotesk_W_Bd.svg#AktivGrotesk-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}