@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-Regular.eot');
    src: url('myriadpro-Regular.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-Regular.woff') format('woff'),
         url('myriadpro-Regular.ttf') format('truetype'),
         url('myriadpro-Regular.svg#MyriadProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}