@font-face {
    font-family: 'AktivGrotesk-Bold';
    src: url('../fonts/aktivgrotesk-bold/AktivGrotesk_W_Bd.eot');
    src: url('../fonts/aktivgrotesk-bold/AktivGrotesk_W_Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/aktivgrotesk-bold/AktivGrotesk_W_Bd.woff') format('woff'), url('../fonts/aktivgrotesk-bold/AktivGrotesk_W_Bd.ttf') format('truetype'), url('../fonts/aktivgrotesk-bold/AktivGrotesk_W_Bd.svg#AktivGrotesk-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-Light';
    src: url('../fonts/aktivgrotesk-light/AktivGrotesk_W_Lt.eot');
    src: url('../fonts/aktivgrotesk-light/AktivGrotesk_W_Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/aktivgrotesk-light/AktivGrotesk_W_Lt.woff') format('woff'), url('../fonts/aktivgrotesk-light/AktivGrotesk_W_Lt.ttf') format('truetype'), url('../fonts/aktivgrotesk-light/AktivGrotesk_W_Lt.svg#AktivGrotesk-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-Medium';
    src: url('../fonts/aktivgrotesk-medium/AktivGrotesk_W_Md.eot');
    src: url('../fonts/aktivgrotesk-medium/AktivGrotesk_W_Md.eot?#iefix') format('embedded-opentype'), url('../fonts/aktivgrotesk-medium/AktivGrotesk_W_Md.woff') format('woff'), url('../fonts/aktivgrotesk-medium/AktivGrotesk_W_Md.ttf') format('truetype'), url('../fonts/aktivgrotesk-medium/AktivGrotesk_W_Md.svg#AktivGrotesk-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-Regular';
    src: url('../fonts/aktivgrotesk-regular/AktivGrotesk_W_Rg.eot');
    src: url('../fonts/aktivgrotesk-regular/AktivGrotesk_W_Rg.eot?#iefix') format('embedded-opentype'), url('../fonts/aktivgrotesk-regular/AktivGrotesk_W_Rg.woff') format('woff'), url('../fonts/aktivgrotesk-regular/AktivGrotesk_W_Rg.ttf') format('truetype'), url('../fonts/aktivgrotesk-regular/AktivGrotesk_W_Rg.svg#AktivGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{font-family:"AktivGrotesk-Regular", Helvetica, Arial, sans-serif;font-size:12px;line-height:12px;}
.book.font-family-1{font-family:"AktivGrotesk-Regular", Helvetica, Arial, sans-serif;}
body h1,body h2,body h4{font-family:"AktivGrotesk-Medium", Helvetica, Arial, sans-serif;}
body h1{font-size:55px;line-height:60px;}
body h2{font-size:22px;line-height:27px;}
body h3{font-family:"AktivGrotesk-Bold", Helvetica, Arial, sans-serif;font-size:16px;line-height:20px;}
body h4{font-size:14px;line-height:15px;}
.book-summary ul.summary{font-size:14px;}
.square li{list-style-type:square;}



