@font-face {
    font-family: 'AktivGrotesk-Medium';
    src: url('AktivGrotesk_W_Md.eot');
    src: url('AktivGrotesk_W_Md.eot?#iefix') format('embedded-opentype'),
         url('AktivGrotesk_W_Md.woff') format('woff'),
         url('AktivGrotesk_W_Md.ttf') format('truetype'),
         url('AktivGrotesk_W_Md.svg#AktivGrotesk-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}